/* COMMON STYLING */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@font-face {
    font-family: "Segoe Custom";
    src: url("http://www.modern.ie/cdn/fonts/west-european/normal/latest.eot");
    src: local("Segoe UI"), url("http://www.modern.ie/cdn/fonts/west-european/normal/latest.woff") format("woff");
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*So we can use calc for the height*/
html {
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
	font-family: "Segoe Custom", sans-serif;
}

body {
	font-size: 14px;
	line-height: 1.428571429;
}

body,
.content {
    height: 100%;
}

article {
    min-height: calc(100% - 235px);
    position: relative;
}

h1 {
	font-weight: normal;
  	line-height: 1.1;
}

p {
	margin: 0 0 10px;
}

a {
  text-decoration: none;
}

a:focus,
input:focus,
button:focus {
    outline: 2px solid rgba(102,204,255,.6);
}

label {
	display: inline-block;
}

/* UTILITY CLASSES */
.clear {
    clear: both;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.hide {
    display: none;
}

.sr-only {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* LOADING SCREEN */
.progress-wrapper {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

progress {
    width: 200px;
    height: 10px;
    border: none;
}

/* HEADER */
.header {
	padding: 1.3em 0 1.1em .8em;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-color: #454545;
}

/* HEADER: Logo */
.siteLogo {
	position: relative;
	margin: 0 auto;
	max-width: 1230px;	
}

.siteLogo:before {
	position: absolute;
	top: -.2em;
	left: 0;
	width: 28px; 
	height: 28px;
	background: url("/images/ie-logo.png") no-repeat;
	background-size: 28px;
	content: "";
	pointer-events: none;
}

.siteLogo a {
	display: block;
	padding-left: 2.8em;
}

.status-ie {
    padding: 0 0 .2em .4em;
	border-left: 1px solid #fff;
    color: #fff;
	font-size: 20px;   
	line-height: 1em;
}

/* HEADER: Menu */
.menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	font-size: .9em;
}

.menu-bar {
	display: inline-block;
	background-color: #454545;
}

.menu-item a {
	display: block;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-bottom: 5px solid;
	padding: .2em 1em;
	color: #fff;
	line-height: 1.5em;
}

.menu-item a:hover {
	color: #00abe1;
}

.menu-item-tools a {
	border-color: #0079c2;
}

.menu-item-articles a {
	border-color: #7fba00;
}

.menu-item-demos a {
	border-color: #833885;
}

.menu-item-involved a {
	border-color: #ff8c00;
}

/* HEADER: Other links */
.microsoft-logo {
	display: none;
}

.microsoft-logo a,
.tw {
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.microsoft-logo a {
	width: 112px;
	height: 24px;
}
.icon-social {
    float: right;
	margin-top: 1.45em;
}
.tw {
	width: 30px;
	height: 26px;
	background: url("/images/twitter-logo.svg") no-repeat;
	background-size: 29px auto;
}

/* FILTERS */
.filter-container {
    margin-bottom: 10px;
    background-color: #00BAF0;
}

.filter-container::after {
	display: table;
	content: "";
	clear: both;
}

.filter-group {
    width: 800px;
    margin: 0 auto;
    padding: 15px 0 5px 0;
}

/* FILTERS: Search */
.search-form-wrapper .btn {
	float: left;
	height: 35px;
    border: none;
    color: #fff;
    background-color: #0079c2;
	cursor: pointer;
}

/* FILTERS: Search: form */
.form-group {
    width: 44%;
}

.form-control {
	float: left;
	width: calc(100% - 39px);
    min-width: 200px;
    height: 35px;
    margin: 0 4px 4px 0; /* Bottom margin fixes #15 */ 
    border: solid 1px #c7c7c7;
    padding: 6px 12px;
  	font-size: inherit;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.btn-add-filter {
    width: 35px;
}

/* FILTERS: Search: tags */
.single-filters-wrapper {
    width: 56%;
    padding-left: 4px;
    overflow-y: hidden;
}

.btn-single-filter {
    position: relative;
    max-width: calc(50% - 4px);
    margin: 0 0 4px 4px;
    padding: 0 32px 0 8px;
}

.single-filter-text {
    height: 100%;
    width: 100%;
    padding-top: 2px;
    overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.remove-icon {
    position: absolute;
    top: 14px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: none;
    background: url("/images/icons/remove-icon.png") no-repeat center top;
}

.remove-icon:before {
    content: none;
}

/* FILTERS: Filter selection */
.info-row {
	display: table;
    width: 800px;
    height: 60px;
    margin: 0 auto;
}

.total-features,
.switch-fiters {
    display: table-cell;
    vertical-align: middle;
}

.total-features {
	width: 33.33%;
    color: #fff;
    font-size: 16px;
}

.total-features span {
	font-weight: 600;
    font-size: 24px;
}

.switch-fiters {
    width: 66.66%;
    text-align: right;
}

.switch-filters-column {
	display: inline-block;
    padding-right: 0;
    padding-left: 12px;
}

/* FILTERS: Filter selection: dropdown */
.dropdown {
  position: relative;
}

.dropdown-toggle {
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}

.dropdown-toggle:hover {
    text-decoration: none;
    color: #434e7b;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
    left: auto;
    right: -1px;
    z-index: 1;
    width: 200px;
    margin-top: -2px;
    border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;
    text-align: left;
    background-color: #00BAF0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    color: #fff;
    list-style: none;
}

.dropdown-arrow {
    display: inline-block;
    height: 20px;
    width: 24px;
    background: #0079c2;
    margin: -3px 0 0 10px;
    vertical-align: middle;
}

.dropdown-arrow i {
    display: block;
    width: 100%;
    height: 100%;
    background: url("/images/little-arrow.svg") no-repeat center center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform 300ms;
    -o-transition: -o-transform 300ms;
    transition: transform 300ms;
}

.open .dropdown-arrow i {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-menu li {
    height: 36px;
    border-bottom: solid 1px #0079c2;
    padding: 0 10px;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li:hover {
    background-color: #0079c2;
}

.dropdown-menu li input {
    margin-top: 12px;
    vertical-align: top;
}

.dropdown-menu li .custom-check {
    margin-top: 10px;
}

.dropdown-menu li label:not(.check):not(.radio) {
    width: 140px;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    line-height: 36px;
    cursor: pointer;
}

.dropdown-menu .disabled .custom-check,
.dropdown-menu .disabled label {
    opacity: .5;
}

/* CUSTOM CONTROLS */
.custom-check {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    margin: 6px 10px 0 0;
    overflow: hidden;
}

.custom-check input {
    display: none;
}

.check,
.radio {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    background-image: none;
    background-color: #363f5d;
    cursor: pointer;
}

.radio {
	min-height: 0;
    border-radius: 50%;
}

[type=checkbox]:checked + .check {
    background-image: url("/images/icons/check.png");
}

[type=radio]:checked + .radio {
    background-color: #fff;
    box-shadow: 0 0 0 3px #363f5d inset;
}

/* BETA RIBBON */
.ribbon-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 120px;
    height: 85px;
    overflow: hidden;
    font: bold 15px Sans-Serif;
    text-align: center;
}

.beta-ribbon {
    position: relative;
    width: 160px;
    padding: 7px 0 7px 30px;
    font: bold 17px Sans-Serif;
    text-shadow: 0 0 5px #000;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FFE763;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #444 10px, #444 20px);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    color: #fff;
}

/* FOOTER */

footer {
    width: 100%;
    min-height: 35px;
    background-color: #404040;
}

.links {
    margin: 0 auto;
    padding-top: 8px;
    color: white;
    text-align: center;
    line-height: 20px;
}

.links a {
    margin-left: 25px;
    color: white;
    font-size: 12px;
}

.links a:hover {
    text-decoration: none;
}

@media screen and (min-width: 960px) {
	.microsoft-logo {
		display: block;
		float: right;
		margin: 1.4em 0 0 1.9em;
	}
	.icon-social {
		margin-right: 0;
	}
}

@media screen and (min-width: 820px) {
    .info-row,
    .foot-center,
    .filter-group,
    .links {
        width: 800px;
    }
}

@media screen and (max-width: 819px) {
    .info-row,
    .foot-center,
    .filter-group {
        width: calc(100% - 20px);
    }
    
    .switch-fiters {
    	width: 70%;
	}

	.total-features {
    	width: 28%;
	}
	
	.switch-filters-column {
		padding-left: 5px;
	}
	.dropdown-arrow {
        margin-left: 2px;
    }
}

@media screen and (min-width: 525px) and (max-width: 667px) {

    .dropdown-arrow {
        width: 17px;
        height: 16px;
    }

    .dropdown a {
        font-size: 16px;
    }
}

@media screen and (max-width: 524px) {
    .ribbon-wrapper {
        position: absolute;
    }

    .menu {
        max-width: 650px;
    }

    .links {
        display: none;
    }
}

@media screen and (max-width: 569px) {
    .filter-container, .menu-item {
        display: none;
    }
    .sticky {
		display: none !important;
	}
	
	.header {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 570px) {
	.header {
		height: 51px;
		border-bottom: 10px solid #6d6e71;
		padding-left: 4%;
	}

	.menu-bar {
		position: absolute;
		top: 59px;
		width: 100%;
		left: 0;
		background: #282828;
	}
	.menu-item:first-child {
		margin-left: 4%;
	}
	.menu-item {
		float: left;
		display: inline-block;
	}

	.menu-item a {
		margin-bottom: -5px;
		padding: .5em 1.5em;
	}	
} 

@media screen and (min-width: 1220px) {
	.header {
		height: 42px;
		padding-left: 10px;
		padding-bottom: 0;
		background: -webkit-linear-gradient(left, #454545 50%, #282828 50%);
		background: -moz-linear-gradient(left, #454545 50%, #282828 50%);
		background: -o-linear-gradient(left, #454545 50%, #282828 50%);
		background: linear-gradient(to right, #454545 50%, #282828 50%);
	}
	.menu {
        max-width: 810px;
        position: relative;
		margin-top: -42px;
    }
	.menu-bar {
		height: 60px;
		position: static;
		width: inherit;
	}

	.menu-item:first-child {
		margin-left: 0;
	}

	.menu-item a {
		min-width: 7.5em;
		padding: 15px;
		border-bottom-width: 10px;
		font-size: 10px;
	}
	
	.menu-item span {
		display: block;
		font-size: 2.1em;
	}
}

@media screen and (max-width: 300px) {
	.icon-social {
		display: none;
	}
}