/* Basic Theming */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@font-face {
    font-family: "Segoe Custom";
    src: url("https://www.modern.ie/cdn/fonts/West-European/Normal/latest.eot");
    src: local("Segoe UI"), url("https://www.modern.ie/cdn/fonts/West-European/Normal/latest.woff") format("woff");
}

@font-face {
    font-family: Icons;
    src: url("https://www.modern.ie/cdn/fonts/icons-v3/modern-icons.woff");
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*So we can use calc for the height*/
html {
    height: 100%;
    overflow-y: scroll;
}

body,
.content {
    height: 100%;
}

a:link img {
    border: 0;
}

html,
body {
    margin: 0;
    background-color: #fff;
    font-family: "Segoe Custom";
}

.clear {
    clear: both;
}

/* Overrides */
label {
    font-weight: normal;
    margin-bottom: 0;
}

/* Header */
.header {
	background-color: #454545;
	padding: 1.3em 0 1.1em .8em;
	box-sizing: content-box;
}

button:active,
button:focus {
    outline: 0;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	font-size: .9em;
}

.menu-bar {
	margin: 0;
	padding: 0;
	background-color: #454545;
	display: inline-block;
}

.menu-item {
	display: none;
	padding: .6em 0;
	zoom: 1;
	border-bottom: 1px solid #fff;
}

.menu-anchor a, .menu-bar .active a, .menu-item a:hover {
	color: #00abe1;
}

.menu-item a {
	text-decoration: none;
	display: block;
	color: #fff;
	border-left: 3em solid #fff;
	line-height: 1.5em;
	padding: .2em 1em;
	box-sizing: content-box;
}

.menu-item-tools a {
	border-color: #0079c2;
}

.menu-item-articles a {
	border-color: #7fba00;
}

.menu-item-demos a {
	border-color: #833885;
}

.menu-item-involved a {
	border-color: #ff8c00;
}
.microsoft-logo {
	display: none;
}
.microsoft-logo a {
	background: url("/images/microsoft-logo.png") no-repeat;
	display: inline-block;
	width: 112px;
	height: 24px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.icon-social {
	float: right;
	margin: 1.2em 5.8em 1.2em 0;
}
.share {
    text-decoration: none;
}
.share:hover {
	text-decoration: none;
}

.share::before {
    position: relative;
    top: 3px;
    color: #6D6E71;
    font-family: Icons;
    font-size: 23px;
    content: attr(data-icon);
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

.share.tw {
    position: relative;
    top: -4px;
}

.share.tw:hover::before {
    color: #00aeef;
}

/* Filters */
.filter-container {
    margin-bottom: 10px;
    background-color: #00BAF0;
    overflow: auto;
	width: 100%;
}

.filter-wrapper {
    width: 100%;
    background-size: cover;
}

.filter-wrapper .center {
    width: 800px;
    margin: 0 auto;
}

.search-form-wrapper,
.search-form-wrapper > .col-md-5 {
    padding: 0;
}

.search-form-wrapper > .col-md-7 {
    padding: 0 0 0 4px;
}

.form-group {
    width: 100%;
}

.form-control {
    display: inline-block;
    width: calc(100% - 39px);
    min-width: 200px;
    height: 35px;
    border: solid 1px #c7c7c7;
    border-radius: 0;
}

.search-form-wrapper .btn {
    border: none;
    padding: 0;
    outline: none;
    border-radius: 0;
    color: #fff;
    background-color: #0079c2;
}

.search-form-wrapper button:active {
    box-shadow: none;
}

.btn-add-filter {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #0079c2;
}

.btn.btn-single-filter {
    position: relative;
    height: 35px;
    width: auto;
    max-width: calc(50% - 4px);
    margin: 0 0 4px 4px;
    padding: 0 32px 0 8px;
    text-align: left;
}

.single-filter-text {
    float: left;
    height: 100%;
    width: 100%;
    padding-top: 2px;
    overflow: hidden;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn .remove-icon {
    position: absolute;
    top: 14px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-image: none;
    background: url("/images/remove-icon.png") no-repeat center top;
}

.remove-icon:before {
    content: none;
}

.single-filters-wrapper {
    overflow-y: hidden;
}

/* Dropdown menu */
.dropdown-menu {
    left: auto;
    right: -1px;
    width: 200px;
    margin-top: -2px;
    padding: 0;
    text-align: left;
    background-color: #00BAF0;
    border-radius: 0;
    color: #fff;
}

.dropdown-arrow {
    display: inline-block;
    height: 20px;
    width: 24px;
    background: #0079c2;
    margin: -3px 0 0 10px;
    vertical-align: middle;
}

.dropdown-arrow i {
    display: block;
    width: 100%;
    height: 100%;
    background: url("/images/little-arrow.svg") no-repeat center center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.dropdown.open .dropdown-arrow i {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.dropdown-menu li {
    height: 36px;
    border-bottom: solid 1px #0079c2;
    padding: 0 10px;
}

.dropdown-menu .disabled .custom-check,
.dropdown-menu .disabled label {
    opacity: .5;
}

.dropdown-menu li:hover {
    background-color: #0079c2;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li input {
    vertical-align: top;
    margin-top: 12px;
}

.dropdown-menu li label:not(.check):not(.radio) {
    width: 140px;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    line-height: 36px;
    cursor: pointer;
}

.dropdown-menu li .custom-check {
    margin-top: 10px;
}

.switch-filters-column {
    width: auto;
    padding-right: 0;
    padding-left: 12px;
    text-align: right;
}

.dropdown a {
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}

.dropdown a:hover {
    text-decoration: none;
    color: #434e7b;
}

.filter-switchs-wrapper {
    float: right;
    max-width: 100%;
    margin-top: 15px;
}

/* Info ROW */
.info-row {
    width: 800px;
    height: 60px;
    margin: 0 auto;
}

.info-row > div {
    padding: 0;
}

.total-features {
    float: left;
    height: 60px;
    color: #fff;
    line-height: 56px;
    font-weight: 600;
    font-size: 24px;
}

.total-features:before {
    content: 'Features found: ';
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.filter-group {
    padding: 15px 0 5px 0;
}

.float,
div.term {
    float: left;
}

/* Custom checkboxes */
.custom-check {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    margin: 6px 10px 0 0;
    overflow: hidden;
}

.radio {
    border-radius: 50%;
    min-height: 0;
    padding: 0;
}

.custom-check input {
    display: none;
}

.check,
.radio {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0;
    border: 1px solid #fff;
    background-image: none;
    background-color: #363f5d;
    cursor: pointer;
}

[type=checkbox]:checked + .check {
    background-image: url("/images/check.png");
}

[type=radio]:checked + .radio {
    background-color: #fff;
    box-shadow: 0 0 0 3px #363f5d inset;
}

footer {
    width: 100%;
    height: 35px;
    background-color: #404040;
}

.foot-center {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.siteLogo {
	margin: 0 auto;
	max-width: 1230px;	
}
.siteLogo:before {
	position: absolute;
	width: 28px; 
	height: 28px;
	margin-top: -.2em;
	background: url("/images/ie-logo.png") no-repeat;
	background-size: 28px;
	content: "";
	pointer-events: none;
}

.siteLogo:after {
	content: "";
	display: table;
	clear: both;
}

.siteLogo a {
	float: left;
	padding-left: 2.8em;
}

.status-ie {
    float: left;
	margin: 0;
    padding: 0 0 .2em .4em;
	border-left: 1px solid #fff;
    color: #fff;
	font-size: 20px;   
	line-height: 1em;
}

article {
    min-height: calc(100% - 235px);
    position: relative;
}

.links {
    float: right;
    padding-top: 8px;
    color: white;
    text-align: right;
    line-height: 20px;
}

.links a {
    margin-left: 25px;
    color: white;
    font-size: 12px;
}

.links a:hover {
    text-decoration: none;
}

/* Overriding col-md styles */
.search-form-wrapper .col-md-7 {
    width: 56%;
}

.search-form-wrapper .col-md-5 {
    width: 44%;
}

.info-row .col-md-8 {
    width: 66.66666666666666%;
}

.info-row .col-md-4 {
    width: 33.33333333333333%;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.progress-wrapper {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

progress {
    width: 200px;
    height: 10px;
    border: none;
}

.ribbon-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 120px;
    height: 85px;
    overflow: hidden;
    font: bold 15px Sans-Serif;
    text-align: center;
}

.beta-ribbon {
    position: relative;
    width: 160px;
    padding: 7px 0 7px 30px;
    font: bold 17px Sans-Serif;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FFE763;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #444 10px, #444 20px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.hide {
    display: none;
}

@media screen and (min-width: 960px) {
	.microsoft-logo {
		display: block;
		float: right;
		margin: 1.4em 0 1em 2em;
	}
	.icon-social {
		margin-right: 0;
	}
}

@media screen and (min-width: 800px) {
    .info-row,
    .foot-center,
    .filter-wrapper .center {
        width: 800px;
    }

}

@media screen and (max-width: 799px) {
    .info-row,
    .foot-center,
    .filter-wrapper .center {
        width: calc(100% - 20px);
    }

    .info-row .col-md-4,
    .info-row .col-md-8 {
        float: none;
        width: 100%;
    }

    .switch-filters-column {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .dropdown-arrow {
        margin-left: 5px;
    }

    .info-row {
        height: auto;
    }
}

@media screen and (min-width: 525px) and (max-width: 667px) {
    .info-row .col-md-4,
    .info-row .col-md-8 {
        float: none;
        width: 100%;
    }

    .filter-switchs-wrapper {
        margin-top: 20px;
    }

    .switch-filters-column {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .dropdown-arrow {
        width: 17px;
        height: 16px;
        margin-left: 3px;
    }

    .info-row {
        height: auto;
    }

    .dropdown a {
        font-size: 16px;
    }
}

@media screen and (max-width: 524px) {
    .ribbon-wrapper {
        position: absolute;
    }

    .menu {
        max-width: 650px;
    }

    .info-row .col-md-4,
    .info-row .col-md-8 {
        float: none;
        width: 100%;
    }

    .filter-switchs-wrapper {
        margin-top: 0;
    }

    .switch-filters-column {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .dropdown-arrow {
        width: 17px;
        height: 16px;
        margin-left: 1px;
    }

    .switch-filters-column:first-child .dropdown-menu {
        right: auto;
        left: calc(100% - 18px);
    }

    .info-row {
        height: auto;
    }

    .dropdown a {
        font-size: 13px;
    }

    .links {
        display: none;
    }
}

@media screen and (max-width: 569px) {
    .filter-container {
        display: none;
    }
    .sticky {
		display: none !important;
	}
	
	.header {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 540px) {
	.header {
		height: 51px;
		border-bottom: 10px solid #6d6e71;
		padding-left: 4%;
	}

	.menu-bar {
		position: absolute;
		top: 59px;
		width: 100%;
		left: 0;
		background: #282828;
	}
	.menu-item:first-child {
		margin-left: 4%;
	}
	.menu-item {
		float: left;
		padding: 0;
		border-bottom: none;
	}
	.menu-item {
		display: inline-block;
	}

	.menu-item a {
		padding: .5em 1.5em;
		margin-bottom: -5px;
		border-left: none;
		border-bottom-width: 5px;
		border-bottom-style: solid;
	}	
} 

@media screen and (min-width: 1220px) {
	.header {
		height: 42px;
		background: -webkit-linear-gradient(left, #454545 50%, #282828 50%);
		background: -moz-linear-gradient(left, #454545 50%, #282828 50%);
		background: -o-linear-gradient(left, #454545 50%, #282828 50%);
		background: linear-gradient(to right, #454545 50%, #282828 50%);
		padding-left: 10px;
		padding-bottom: 0;
	}
	.menu {
        max-width: 800px;
        position: absolute;
		top: 1px;
    }
	.menu-bar {
			height: 59px;
			position: static;
			width: inherit;
	}

	.menu-item:first-child {
		margin-left: 0;
	}

	li.menu-item a {
		font-size: .8em;
		min-width: 7.5em;
		padding: 1.4em 1.5em 1.5em 1.5em;
		border-bottom-width: 10px;
	}
	.menu-item span {
		font-size: 2.1em;
		display: block;
	}
}

@media screen and (max-width: 300px) {
	.icon-social {
		display: none;
	}
}