.feature {
    position: relative;
    height: 50px;
    margin:  0 auto 20px;
    padding: 0;
    overflow: hidden;
    -webkit-transition: height 500ms;
    -o-transition: height 500ms;
    transition: height 500ms;
}

.feature.show {
    height: 225px;
}

.feature header {
    height: 50px;
    margin: 0;
    border-left: 10px solid;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: #eef0f6;
    border-radius: 0 50px 50px 0;
    -webkit-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
    cursor: pointer;
}

.feature.show header {
    background-color: #d8dbe9;
}

.feature header .feature_name {
	float: left;
	/* 	make sure disclosure triangle doesn’t drop to next line */
    max-width: calc(100% - 45px);
	height: 42px;
    margin: 0;
    padding: 10px 0 0 60px;  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}

.feature header .feature-info {
    float: right;
    margin: 0 5px 0 0;
}

.feature header .ie-status {
    float: left;
    margin: 12px 10px 0 0;
    overflow: hidden;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    font-weight: 600;
}

.feature .collapsebtn {
	float: left;
	width: 40px;
    height: 40px;
    margin-top: 5px;
    border: 0;
    padding: 0;
    color: black;
    font-family: "Segoe UI Symbol";
    border-radius: 50%;
    background: #fff url("/images/arrow.svg") no-repeat center 10px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.feature.show .collapsebtn {
	-webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.feature .collapsebtn:hover {
    cursor: pointer;
}

.feature .feature-body-wrapper {
    position: relative;
    height: 175px;
    border-left: solid 10px;
    padding: 10px;
}

.feature .feature-body-wrapper p {
    font-size: 16px;
    line-height: 1.6;
}

.feature .feature-status-wrapper {
	position: absolute;
    bottom: 0;
	width: 100%;
    margin-top: 20px;
    margin-bottom: -5px;  
}

.feature_status {
    display: table;
    height: auto;
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0;
    list-style-type: none;
    border-spacing: 10px;
}

.feature_status li {
    display: table-cell;
    width: 30px;
    height: 30px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: auto;
}

.feature_status .chrome {
    background-image: url(/images/chrome.png);
}

.feature_status .ie {
    background-image: url(/images/explorer.png);
}

.feature_status .firefox {
    background-image: url(/images/firefox.png);
}

.feature_status .safari {
    background-image: url(/images/safari.png);
}

.feature_status .opera {
    background-image: url(/images/opera.png);
}

.feature_status.browsers li {
    opacity: .1;
}

.feature_status.browsers .indevelopment {
    opacity: .5;
}

.feature_status.browsers .implemented {
    opacity: 1;
}

.feature_status a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none; 
}

.feature_status a:hover {
    cursor: pointer;
}

.feature_status .demo a {
    color: #fff;
}

.feature_status.info {
    float: left;
    max-width: 560px;
    overflow: hidden;
}

.feature_status.info li {
	float: left;
	width: auto;
	height: 40px;
	margin: 0 4px 4px 0;
    border-left: solid 5px #a4a5ab;
    background-color: #d8dbe9;
    background-position-x: 5px;
}

.feature_status.info a {
    padding: 10px 10px 10px 40px;
}

.docs.webplatform {
    background-image: url(/images/webplatform.png);
}

.docs.msdn {
    background-image: url(/images/msdn.png);
}

.standard {
    background-image: url(/images/clip.png);
}

.standard.w3c {
    background-image: url(/images/w3c.jpg);
}

.standard.ecma {
    background-image: url(/images/ecma.jpg);
}

.standard.khronos {
    background-image: url(/images/khronos.jpg);
}

.standard.whatwg {
    background-image: url(/images/whatwg.jpg);
}

.standard.xiph {
    background-image: url(/images/xiph.jpg);
}

.standard.ietf {
    background-image: url(/images/ietf.jpg);
}

li.demo {
	border-color: #18414f;
    background-image: url(/images/demo.png);
    background-color: #376a7c;
}

.feature_status.browsers {
    float: right;
    margin-top: -5px;
}

/* API Category Styles */

.css .feature-body-wrapper {
    border-color: #f7b294;
}

.device .feature-body-wrapper,
.security .feature-body-wrapper,
.userinput .feature-body-wrapper {
    border-color: #89b6e0;
}

.graphics .feature-body-wrapper {
    border-color: #f38891;
}

/*Semantics*/
.dom .feature-body-wrapper,
.html .feature-body-wrapper,
.javascript .feature-body-wrapper,
.webcomponents .feature-body-wrapper,
.misc .feature-body-wrapper {
    border-color: #fecf90;
}

.fileapis .feature-body-wrapper,
.offlinestorage .feature-body-wrapper {
    border-color: #b390bc;
}

.multimedia .feature-body-wrapper {
    border-color: #ffe086;
}

.realtimecommunication .feature-body-wrapper,
.networkconnectivity .feature-body-wrapper {
    border-color: #c6d362;
}

.performance .feature-body-wrapper {
    border-color: #7fedea;
}

.css header {
	border-color: #ef6529;
    background-image: url(/images/css3.png);
}

.device header,
.security header,
.userinput header {
	border-color: #136dc1;
    background-image: url(/images/category_devices.png);
}

.graphics header {
	border-color: #e81123;
    background-image: url(/images/category_graphics.png);
}

.javascript header {
	border-color: #f0db4f;
    background-image: url(/images/category_javascript.png);
}

.dom header,
.html header,
.webcomponents header,
.misc header {
	border-color: #fe9f22;
    background-image: url(/images/category_semantics.png);
}

.fileapis header,
.offlinestorage header {
	border-color: #68217a;
    background-image: url(/images/category_offline.png);
}

.multimedia header {
    border-color: #ffc20e;
    background-image: url(/images/category_multimedia.png);
}

.realtimecommunication header,
.networkconnectivity header {
    border-color: #8dc63f;
    background-image: url(/images/category_connectivity.png);
}

.feature.performance header {
    border-color: #00dcd5;
    background-image: url(/images/category_performance.png);
}

@media screen and (min-width: 500px) {
	.feature header .feature_name {
		/* stop long labels from pushing status to next line */
        max-width: 60%;
    }
}

@media screen and (min-width: 800px) {
    .feature {
        width: 800px;
    }

    .feature header .feature_name {
        max-width: 70%;
        font-size: 27px;
    }

    .feature header .ie-status {
        font-size: 17px;
    }
}

@media screen and (min-width: 625px) and (max-width: 799px) {
    .feature header .feature_name {
        padding-top: 14px;
        font-size: 20px;
    }

    .feature {
        width: calc(100% - 20px);
    }

    .feature header .ie-status {
        font-size: 17px;
    }
}

@media screen and (min-width: 500px) and (max-width: 625px) {
    .feature header .feature_name {
    	padding: 17px 0 0 48px;
        font-size: 16px;
    }

    .feature {
        width: calc(100% - 20px);
    }

    .feature header .ie-status {
    	margin-top: 15px;
        font-size: 13px;
        font-weight: normal;
    }

    .feature.show {
        height: 325px;
    }

    .feature .feature-body-wrapper {
        height: 275px;
    }

    .feature_status a {
    	max-width: 120px;
        font-size: 11px;
        line-height: .8;
    }

    .feature_status.info li {
        height: 30px;
        padding-left: 30px;
        background-size: 20px;
    }
}

@media screen and (max-width: 499px) {
    .feature header {
        background-image: none !important;
    }

    .feature .ie-status {
        display: none;
    }

    .feature header .feature_name {
        padding: 17px 0 0 5px;
		font-size: 16px;
    }

    .feature {
        width: calc(100% - 20px);
    }

    .feature header .ie-status {
        top: 26px;
        left: 45px;
        margin-top: 16px;
        font-size: 13px;
        font-weight: normal;
        text-align: left;
    }

    .feature_status a {
    	max-width: 100px;
        font-size: 11px;
        line-height: .8;
    }

    .feature.show {
        height: 325px;
    }

    .feature .feature-body-wrapper {
        height: 275px;
    }

    .feature_status.info li {
        height: 30px;
        padding-left: 30px;
        background-size: 20px;
    }

    .feature .feature-body-wrapper p {
        max-height: calc(100% - 105px);
        overflow: hidden;
    }
}