.icon-check {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -155px -135px;
  width: 13px;
  height: 13px;
}
.icon-chrome {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -32px -96px;
  width: 30px;
  height: 30px;
}
.icon-clip {
  background-image: url(../images/dist/spritesheet.png);
  background-position: 0px -32px;
  width: 30px;
  height: 30px;
}
.icon-css {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -128px 0px;
  width: 25px;
  height: 25px;
}
.icon-demo {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -64px 0px;
  width: 30px;
  height: 30px;
}
.icon-device {
  background-image: url(../images/dist/spritesheet.png);
  background-position: 0px -155px;
  width: 25px;
  height: 25px;
}
.icon-dom {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -155px -81px;
  width: 25px;
  height: 25px;
}
.icon-ecma {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -32px -64px;
  width: 30px;
  height: 30px;
}
.icon-fileapis {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -108px -128px;
  width: 25px;
  height: 25px;
}
.icon-firefox {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -96px 0px;
  width: 30px;
  height: 30px;
}
.icon-graphics {
  background-image: url(../images/dist/spritesheet.png);
  background-position: 0px -128px;
  width: 25px;
  height: 25px;
}
.icon-ie {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -96px -64px;
  width: 30px;
  height: 30px;
}
.icon-ietf {
  background-image: url(../images/dist/spritesheet.png);
  background-position: 0px -96px;
  width: 30px;
  height: 30px;
}
.icon-javascript {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -81px -128px;
  width: 25px;
  height: 25px;
}
.icon-khronos {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -64px -96px;
  width: 30px;
  height: 30px;
}
.icon-microsoft-logo {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -27px -155px;
  width: 112px;
  height: 24px;
}
.icon-misc {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -96px -96px;
  width: 25px;
  height: 25px;
}
.icon-msdn {
  background-image: url(../images/dist/spritesheet.png);
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
}
.icon-multimedia {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -128px -27px;
  width: 25px;
  height: 25px;
}
.icon-networkconnectivity {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -128px -54px;
  width: 25px;
  height: 25px;
}
.icon-offlinestorage {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -128px -81px;
  width: 25px;
  height: 25px;
}
.icon-opera {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -96px -32px;
  width: 30px;
  height: 30px;
}
.icon-performance {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -27px -128px;
  width: 25px;
  height: 25px;
}
.icon-realtimecommunication {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -54px -128px;
  width: 25px;
  height: 25px;
}
.icon-remove-icon {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -170px -135px;
  width: 8px;
  height: 8px;
}
.icon-safari {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -64px -64px;
  width: 30px;
  height: 30px;
}
.icon-security {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -155px 0px;
  width: 25px;
  height: 25px;
}
.icon-semantics {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -155px -27px;
  width: 25px;
  height: 25px;
}
.icon-userinput {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -155px -54px;
  width: 25px;
  height: 25px;
}
.icon-w3c {
  background-image: url(../images/dist/spritesheet.png);
  background-position: 0px -64px;
  width: 30px;
  height: 30px;
}
.icon-webcomponents {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -155px -108px;
  width: 25px;
  height: 25px;
}
.icon-webplatform {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -64px -32px;
  width: 30px;
  height: 30px;
}
.icon-whatwg {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -32px -32px;
  width: 30px;
  height: 30px;
}
.icon-xiph {
  background-image: url(../images/dist/spritesheet.png);
  background-position: -32px 0px;
  width: 30px;
  height: 30px;
}
