<div class="ribbon-wrapper" data-ng-controller="MainCtrl">
    <div class="beta-ribbon">beta</div>
</div>
<header role="banner" class="header">
	<div class="siteLogo">
			<a href="http://status.modern.ie" target="_blank">
				<img src="images/ie-logo.png" alt="status.IE" class="sitelogoImage">
				<h1 class="status-ie">status IE</h1>
			</a>
	</div>
    <nav role="navigation" class="menu">
            <ul class="menu-bar" role="menubar">
                <li role="menuitem" class="menu-item menu-item-tools " data-content-type="tool"><a href="http://modern.ie/tools" title="Get Tools">Get <span>Tools</span></a></li>
                <li role="menuitem" class="menu-item menu-item-articles " data-content-type="article"><a href="http://modern.ie/articles" title="Get Tools">Read <span>Articles</span></a></li>
                <li role="menuitem" class="menu-item menu-item-demos " data-content-type="demo"><a href="http://modern.ie/demos" title="Get Tools">See <span>Demos</span></a></li>
                <li role="menuitem" class="menu-item menu-item-involved " data-content-type="meet-developers"><a href="http://modern.ie/meet-developers" title="Get Tools">Meet <span>Developers</span></a></li>
            </ul>
            <div class="microsoft-logo">
                <a href="http://www.microsoft.com" title="Microsoft" target="_blank"><img src="images/microsoft-logo.png" alt="Microsoft"></a>
            </div>
            <div class="icon-social">
            	<a class="share tw"  aria-hidden="true" href="https://www.twitter.com/iedevchat" target="_blank"
                data-icon=""></a>
            </div>
    </nav>
</header>
<div class="filter-container" data-notmobile data-sticky>
    <filter></filter>
    <div class="info-row">
        <div class="col-md-4 float">
            <div class="total-features" aria-live="polite">{{limit}}</div>
            <div class="clear"></div>
        </div>
        <div class="col-md-8 float">
            <div class="filter-switchs-wrapper">
                <featuresorting></featuresorting>
                <drowpdownfilter data-options="{selections: categories, name: 'Technologies'}"></drowpdownfilter>
                <drowpdownfilter data-options="{selections: browsers, name: 'Browsers'}"></drowpdownfilter>
                <drowpdownfilter data-options="{selections: featureStatus, name: 'Status'}"></drowpdownfilter>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<article role="article" aria-live="polite">
    <div class="progress-wrapper" data-ng-show="loading">
        <progress max="100">
        </progress>
    </div>

    <feature data-ng-repeat="feature in features" onfinishrender>
    </feature>
</article>

        <div class="banner">
            <a href="http://modern.ie" target="_blank"><img src="/images/modernie-banner.png"/></a>
        </div>

<footer role="contentinfo">
    <div class="foot-center">
        <div class="links">
            <a href="http://creativecommons.org/licenses/by/2.5/legalcode"
               target="_blank">IE status data is licensed under a Creative Commons Attribution 2.5 License</a>
            <a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx"
               target="_blank">Trademarks</a>
            <a href="http://msdn.microsoft.com/windows/apps/cc300389" target="_blank">Terms of Use</a>
            <a href="http://www.microsoft.com/info/privacy.mspx" target="_blank">Privacy and Cookies</a>
        </div>
    </div>
</footer>