<header class="masthead">
    <nav class="menu" role="navigation">
        <img class="logo" src="images/logo_150.png" alt="status.IE">
        <ul class="social">
            <li role="menuitem"><a class="share tw" href="https://www.twitter.com/iedevchat" target="_blank" data-icon=""></a></li>
            <li role="menuitem"><a class="share fb" href="https://www.facebook.com/internetexplorer" target="_blank" data-icon=""></a></li>
            <li role="menuitem" class="msft_logo"><a href="http://www.microsoft.com/" target="_blank"><img src="images/microsoft-logo.png" alt="Microsoft"></a></li>
        </ul>
    </nav>
</header>
<filter></filter>
<article>
    <feature ng-repeat="feature in features">
    </feature>
</article>