<div class="switch-filters-column col-md-5">
    <div class="dropdown">
        <a class="dropdown-toggle"></a>

        <ul class="dropdown-menu">
            <li>
                <input data-ng-model="allCategories" type="checkbox" id="allOption" />
                <label for="allOption">All</label>
            </li>
            <li ng-repeat="category in categories">
                <input data-ng-disabled="allCategories" id="{{category.name}}" name="{{category.name}}" value="{{category.name}}" data-ng-model="category.selected" type="checkbox" />
                <label for="{{category.name}}">{{category.name}}</label>
            </li>
        </ul>
    </div>
</div>