 <div class="dropdown">
	<a class="dropdown-toggle"></a>

	<ul class="dropdown-menu">
		<li>
			<input data-ng-model="allCategories" type="checkbox" id="allOption" />
			<label for="allOption">All</label>
		</li>
		<li ng-repeat="category in categories">
			<input data-ng-disabled="allCategories" data-bo-id="category.name" data-bo-name="category.name" data-bo-value="category.name" data-ng-model="category.selected" type="checkbox" />
			<label data-bo-attr data-bo-attr-for="category.name" data-bo-text="category.name"></label>
		</li>
	</ul>
</div>