<div class="switch-filters-column float">
    <div class="dropdown">
        <a class="dropdown-toggle">
            {{options.name}}
            <span class="dropdown-arrow"><i></i></span>
        </a>
        <ul class="dropdown-menu">
            <li class="dynamic-all" title="{{option.name}}">
                <!--<input ng-model="allOptions" type="checkbox" id="{{options.name}}" />-->
                <div class="custom-check">
                    <input type="checkbox" data-ng-model="allOptions" id="{{options.name}}" checked="" />
                    <label class="check" for="{{options.name}}"></label>
                </div>
                <label for="{{options.name}}">All</label>
            </li>
            <li class="dynamic-option" data-ng-repeat="option in selections" data-ng-class="{'disabled' : allOptions}" title="{{option.name}}">
                <!--<input ng-disabled="allOptions" name="{{option.name}}" id="{{option.name}}" value="{{option.name}}" ng-model="option.selected" type="checkbox" />-->
                <div class="custom-check">
                    <input type="checkbox" data-ng-disabled="allOptions" name="{{option.name}}" id="{{option.name}}" value="{{option.name}}" ng-model="option.selected" checked="" />
                    <label class="check" data-ng-disabled="allOptions" for="{{option.name}}"></label>
                </div>
                <label for="{{option.name}}">{{option.name}}</label>
            </li>
        </ul>
    </div>
</div>