<div class="switch-filters-column col-md-5">
    <div class="dropdown">
        <a class="dropdown-toggle" >{{options.name}}</a>
        <ul class="dropdown-menu">
            <li title="{{option.name}}">
                <input ng-model="allOptions" type="checkbox" id="{{options.name}}" />
                <label for="{{options.name}}">All</label>
            </li>
            <li ng-repeat="option in selections" title="{{option.name}}">
                <input ng-disabled="allOptions" name="{{option.name}}" id="{{option.name}}" value="{{option.name}}" ng-model="option.selected" type="checkbox" />
                <label for="{{option.name}}">{{option.name}}</label>
            </li>
        </ul>
    </div>
</div>