<section bindonce data-bo-class="feature.normalized_category" class="feature" data-ng-class="{'show' : show}" data-ng-show="feature.visible">
    <header data-ng-click="show = !show" class="feature-header">
        <h1 class="feature_name" data-bo-text="feature.name"></h1>
        <div class="feature-info">
            <div class="ie-status" data-bo-if="feature.browsers.ie.prefixed || feature.browsers.ie.unprefixed" data-bo-text="'IE' + (feature.browsers.ie.prefixed || feature.browsers.ie.unprefixed) + '+'"></div>
            <div class="ie-status" data-bo-if="!(feature.browsers.ie.prefixed || feature.browsers.ie.unprefixed)" data-bo-text="feature.position"></div>
            <button class="collapsebtn"></button>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </header>
    <div class="feature-body-wrapper">
        <p data-bo-text="feature.summary"></p>
        <p data-bo-if="feature.browsers.ie.prefixed">
            <b>Prefixed version: </b> IE<span data-bo-text="feature.browsers.ie.prefixed"></span>
        </p>
        <p data-bo-if="feature.browsers.ie.unprefixed">
            <b>Unprefixed version: </b> IE<span data-bo-text="feature.browsers.ie.unprefixed"></span>
        </p>
        <div class="feature-status-wrapper">
            <ul class="feature_status browsers">
                <li data-bo-class="{'implemented': feature.browsers.chrome.status === 'Shipped', 'indevelopment' : feature.browsers.chrome.status === 'In Development'}">
                    <a data-bo-if="feature.browsers.chrome.link" data-bo-href="feature.browsers.chrome.link"><img src="/images/chrome.png" data-bo-alt="feature.browsers.chrome.status + ' by Chrome'"/></a>
                    <img data-bo-if="!feature.browsers.chrome.link" data-bo-alt="feature.browsers.chrome.status + ' by Chrome'" src="/images/chrome.png" />
                </li>
                <li data-bo-class="{'implemented': feature.browsers.firefox.status === 'Shipped', 'indevelopment' : feature.browsers.firefox.status === 'In Development'}">
                    <a data-bo-if="feature.browsers.firefox.link" data-bo-href="feature.browsers.firefox.link"><img src="/images/firefox.png" data-bo-alt="feature.browsers.firefox.status + ' by Firefox'"/></a>
                    <img data-bo-if="!feature.browsers.firefox.link" data-bo-alt="feature.browsers.firefox.status + ' by Firefox'" src="/images/firefox.png" />
                </li>
                <li data-bo-class="{'implemented': feature.browsers.ie.status === 'Shipped', 'indevelopment' : feature.browsers.ie.status === 'In Development'}">
                    <a data-bo-if="feature.browsers.ie.link" data-bo-href="feature.browsers.ie.link"><img src="/images/explorer.png" data-bo-alt="feature.browsers.ie.status + ' by Internet Explorer'"/></a>
                    <img data-bo-if="!feature.browsers.ie.link" data-bo-alt="feature.browsers.ie.status + ' by Internet Explorer'" src="/images/explorer.png" />
                </li>
                <li data-bo-class="{'implemented': feature.browsers.safari.status === 'Shipped', 'indevelopment' : feature.browsers.safari.status === 'In Development'}">
                    <a data-bo-if="feature.browsers.safari.link" data-bo-href="feature.browsers.safari.link"><img src="/images/safari.png" data-bo-alt="feature.browsers.safari.status + ' by Safari'"/></a>
                    <img data-bo-if="!feature.browsers.safari.link" data-bo-alt="feature.browsers.safari.status + ' by Safari'" src="/images/safari.png" />
                </li>
                <!--<li data-bo-class="{'implemented': feature.browsers.opera.status === 'Shipped', 'indevelopment' : feature.browsers.opera.status === 'In Development'}">-->
                    <!--<a data-bo-if="feature.browsers.opera.link" data-bo-href="feature.browsers.opera.link"><img src="/images/opera.png" data-bo-alt="feature.browsers.opera.status + ' by Opera'"/></a>-->
                    <!--<img data-bo-if="!feature.browsers.opera.link" data-bo-alt="feature.browsers.opera.status + ' by Opera'" src="/images/opera.png" />-->
                <!--</li>-->
            </ul>
            <ul class="feature_status info">
                <li data-bo-if="feature.docs.wpd" class="docs webplatform">
                    <a data-bo-href="feature.docs.wpd" target="_blank">WebPlatform</a>
                </li>
                <li data-bo-if="feature.docs.msdn" class="docs msdn">
                    <a data-bo-href="feature.docs.msdn" target="_blank">MSDN</a>
                </li>
                <li class="standard" data-bo-if="feature.spec.link" data-bo-class="feature.spec.organization">
                    <a data-bo-href="feature.spec.link" target="_blank"
                       data-bo-text="feature.spec.status"></a>
                </li>
                <!--<li class="demo" data-bo-if="feature.demo">-->
                    <!--<a data-bo-href="feature.demos[0].link" target="_blank"-->
                       <!--title="Demo" data-bo-text="feature.demos[0].title"></a>-->
                <!--</li>-->
            </ul>
        <div class="clear"></div>
    </div>
    </div>
</section>