<div class="switch-filters-column" bindonce>
    <div class="dropdown">
        <a role="button" id="sorting" aria-pressed="false" class="dropdown-toggle">
            Sorting
            <span class="dropdown-arrow"><i></i></span>
        </a>
        <ul role="listbox" aria-labelledby="sorting" aria-multiselectable="false" class="dropdown-menu">
            <li role="option" class="dynamic-option" data-ng-repeat="sort in sorts" data-bo-title="sort.name">
                <div class="custom-check radio-btn">
                    <input type="radio" name="sorts" data-bo-id="sort.name" data-ng-value="sort.name" data-ng-model="selectedSort.name" />
                    <label class="radio" data-bo-attr data-bo-attr-for="sort.name"></label>
                </div>
                <label data-bo-attr data-bo-attr-for="sort.name" data-bo-text="sort.name"></label>
            </li>
        </ul>
    </div>
</div>