<div class="filter-wrapper">
    <div class="center filter-group row">
        <termfilter></termfilter>
        <!--<areafilter></areafilter>-->
        <div class="col-md-5 filter-switchs-wrapper">
            <drowpdownfilter data-options="{selections: categories, name: 'Technologies'}"></drowpdownfilter>
            <drowpdownfilter data-options="{selections: browsers, name: 'Browsers'}"></drowpdownfilter>
            <drowpdownfilter data-options="{selections: ieVersions, name: 'IE Minimum Version'}"></drowpdownfilter>
        </div>
    </div>
</div>