<div class="dropdown filter-settings" bindonce>
	<button aria-pressed="false" aria-haspopup="true"
	   class="dropdown-toggle"
	   data-bo-id="options.name">
		Interop
		<span class="dropdown-arrow"></span>
	</button>

	<div class="dropdown-menu">
		<div class="ie-status-options">
			<h2>IE Status</h2>
			<ul>
				<li>
					<input type="checkbox" id="ie-notplanned" data-ng-model="iestatus.notplanned" checked=""
						   data-ng-change="checkChanged()"/>
					<label for="ie-notplanned">Not Currently Planned</label>
				</li>
				<li>
					<input type="checkbox" id="ie-underconsideration"
						   data-ng-model="iestatus.underconsideration" checked=""
						   data-ng-change="checkChanged()"/>
					<label for="ie-underconsideration">Under Consideration</label>
				</li>
				<li>
					<input type="checkbox" id="ie-indevelopment" data-ng-model="iestatus.indevelopment"
						   checked="" data-ng-change="checkChanged()"/>
					<label for="ie-indevelopment">In Development</label>
				</li>
				<li>
					<input type="checkbox" id="ie-devchannel" data-ng-model="iestatus.iedev"
						   checked="" data-ng-change="checkChanged()"/>
					<label for="ie-devchannel">Preview Release</label>
				</li>
				<li>
					<input type="checkbox" id="ie-implemented" data-ng-model="iestatus.implemented"
						   checked="" data-ng-change="checkChanged()"/>
					<label for="ie-implemented">Supported by:</label>
					<ul>
						<li data-ng-class="{'disabled' : !iestatus.implemented }">
							<input type="radio" name="ieversion" id="ie11" value="ie11"
								   data-ng-model="ieversion" data-ng-change="checkChanged()"
								   data-ng-disabled="!iestatus.implemented"/>
							<label for="ie11">IE11+</label>
						</li>
						<li data-ng-class="{'disabled' : !iestatus.implemented }">
							<input type="radio" name="ieversion" id="ie10" value="ie10"
								   data-ng-model="ieversion" data-ng-change="checkChanged()"
								   data-ng-disabled="!iestatus.implemented"/>
							<label for="ie10">IE10+</label>
						</li>
						<li data-ng-class="{'disabled' : !iestatus.implemented }">
							<input type="radio" name="ieversion" id="ie9" value="ie9" data-ng-model="ieversion"
								   data-ng-change="checkChanged()"
								   data-ng-disabled="!iestatus.implemented"/>
							<label for="ie9">IE9+</label>
						</li>
						<li data-ng-class="{'disabled' : !iestatus.implemented }">
							<input type="radio" name="ieversion" id="ie8" value="ie8" data-ng-model="ieversion"
								   data-ng-change="checkChanged()"
								   data-ng-disabled="!iestatus.implemented"/>
							<label for="ie8">IE8+</label>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="interop-status-options">
			<h2>Interop Status</h2>
			<ul>
				<li>
					<input type="checkbox" id="notsupported" data-ng-model="browserstatus.notsupported"
						   checked="" data-ng-change="checkChanged()"/>
					<label for="notsupported">Not Supported</label>
				</li>
				<li>
					<input type="checkbox" id="indevelopment" data-ng-model="browserstatus.indevelopment"
						   checked="" data-ng-change="checkChanged()"/>
					<label for="indevelopment">In Development</label>
				</li>
				<li>
					<input type="checkbox" id="implemented" data-ng-model="browserstatus.implemented" checked=""
						   data-ng-change="checkChanged()"/>
					<label for="implemented">Implemented</label>
				</li>
			</ul>
			<p>…in these browsers:</p>
			<ul>
				<li data-ng-class="{'disabled' : browsersDisabled}">
					<input type="checkbox" id="chrome" data-ng-model="browsers.chrome" checked=""
						   data-ng-change="checkChanged()" data-ng-disabled="browsersDisabled"/>
					<label for="chrome">Chrome</label>
				</li>
				<li data-ng-class="{'disabled' : browsersDisabled}">
					<input type="checkbox" id="firefox" data-ng-model="browsers.firefox" checked=""
						   data-ng-change="checkChanged()" data-ng-disabled="browsersDisabled"/>
					<label for="firefox">firefox</label>
				</li>
				<li data-ng-class="{'disabled' : browsersDisabled}">
					<input type="checkbox" id="opera" data-ng-model="browsers.opera" checked=""
							data-ng-change="checkChanged()" data-ng-disabled="browsersDisabled"/>
					<label for="opera">opera</label>
				</li>
				<li data-ng-class="{'disabled' : browsersDisabled}">
					<input type="checkbox" id="safari" data-ng-model="browsers.safari" checked=""
						   data-ng-change="checkChanged()" data-ng-disabled="browsersDisabled"/>
					<label for="safari">safari</label>
				</li>
			</ul>
		</div>
		<drowpdownfilter data-options="{selections: categories, name: 'Technologies'}"></drowpdownfilter>
	</div>
</div>