<div class="switch-filters-column filter-settings" bindonce>
    <div class="dropdown">
        <a role="button" aria-pressed="false" class="dropdown-toggle" data-bo-id="options.name">
            <span>Interop</span>
            <span class="dropdown-arrow"><i></i></span>
        </a>

        <div class="dropdown-menu">
        	<div class="ie-status-options">
				<h2>IE Status</h2>
				<ul>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="ie-notplanned" data-ng-model="iestatus.notplanned" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="ie-notplanned"></label>
						</div>
						<label for="ie-notplanned">Not Currently Planned</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="ie-underconsideration" data-ng-model="iestatus.underconsideration" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="ie-underconsideration"></label>
						</div>
						<label for="ie-underconsideration">Under Consideration</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="ie-indevelopment" data-ng-model="iestatus.indevelopment" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="ie-indevelopment"></label>
						</div>
						<label for="ie-indevelopment">In Development</label>
					</li>
				</ul>
				<p>Implemented in:</p>
				<ul>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="iedev" checked=""/>
							<label class="check" for="iedev"></label>
						</div>
						<label for="iedev">IE Developer Channel</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="ie11" checked=""/>
							<label class="check" for="ie11"></label>
						</div>
						<label for="ie11">IE11</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="ie10" checked=""/>
							<label class="check" for="ie10"></label>
						</div>
						<label for="ie10">IE10</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="ie9" checked=""/>
							<label class="check" for="ie9"></label>
						</div>
						<label for="ie9">IE9</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="ie8" checked=""/>
							<label class="check" for="ie8"></label>
						</div>
						<label for="ie8">IE8</label>
					</li>
				</ul>
        	</div>
        	<div class="interop-status-options">
				<h2>Interop Status</h2>
				<ul>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="notsupported" data-ng-model="browserstatus.notsupported" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="notsupported"></label>
						</div>
						<label for="notsupported">Not Supported</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="indevelopment" data-ng-model="browserstatus.indevelopment" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="indevelopment"></label>
						</div>
						<label for="indevelopment">In Development</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="implemented" data-ng-model="browserstatus.implemented" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="implemented"></label>
						</div>
						<label for="implemented">Implemented</label>
					</li>
				</ul>
				<p>…in these browsers:</p>
				<ul>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="chrome" data-ng-model="browsers.chrome" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="chrome"></label>
						</div>
						<label for="chrome">Chrome</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="firefox" data-ng-model="browsers.firefox" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="firefox"></label>
						</div>
						<label for="firefox">firefox</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="opera" data-ng-model="browsers.opera" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="opera"></label>
						</div>
						<label for="opera">opera</label>
					</li>
					<li>
						<div class="custom-check">
							<input type="checkbox" id="safari" data-ng-model="browsers.safari" checked="" data-ng-change="checkChanged()"/>
							<label class="check" for="safari"></label>
						</div>
						<label for="safari">safari</label>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>