<div role="search" class="col-md-12 search-form-wrapper">
    <form class="col-md-5 form-inline float" role="form">
        <div class="form-group">
            <label class="sr-only" for="termInput">New term</label>
            <input type="text" class="form-control" id="termInput" placeholder="Filter..." data-ng-model="inputTerm">
            <button class="btn btn-default btn-add-filter" data-ng-click="addTerm(inputTerm)">Add</button>
        </div>
    </form>
    <div class="col-md-7  single-filters-wrapper float">
        <button class="btn btn-default btn-single-filter" data-ng-repeat="term in terms" data-ng-click="removeTerm(term)">
            <div class="single-filter-text">{{term.text}}</div>
            <i class="glyphicon glyphicon-remove remove-icon"></i>
        </button>
    </div>
    <div class="clear"></div>
</div>